<h1>Listing complements</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complements.each do |complement| %>
  <tr>
    <td><%= complement.project_id %></td>
    <td><%= complement.name %></td>
    <td><%= link_to 'Show', complement %></td>
    <td><%= link_to 'Edit', edit_complement_path(complement) %></td>
    <td><%= link_to 'Destroy', complement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Complement', new_complement_path %>
